<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTROS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Header de la tabla -->
  <div class="table-header">
    <div class="header-employee">EMPLEADO</div>
    <div class="header-times">
      <div class="header-checkin">ENTRADA</div>
      <div class="header-checkout">SALIDA</div>
    </div>
  </div>

  <!-- Loading spinner -->
  <div *ngIf="loading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <!-- Lista de asistencias -->
  <ion-list *ngIf="!loading && items.length > 0" class="attendance-list">

    <ion-item-sliding
      *ngFor="let item of items; trackBy: trackByDate"
    >
      <!-- Row normal - DEBE IR PRIMERO -->
      <ion-item lines="full" class="attendance-item">
        <ion-label>
          <div class="attendance-content">
            <div class="employee-info">
              <div class="employee-name">{{ empleadoNombre }}</div>
              <div class="employee-date">{{ formatFecha(item.checked_date) }}</div>
            </div>

            <div class="time-info">
              <div class="check-out">{{ item.entrada?.hora  }}</div>
              <!-- <div class="check-in">{{ formatHora(item.entrada?.hora || '--:--') }}</div> -->
              <div class="check-out">{{ item.salida?.hora || '--:--' }}</div>
            </div>
          </div>
        </ion-label>
      </ion-item>

      <!-- Opciones END (deslizar a la izquierda) -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAttendance(item)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <!-- Empty state -->
  <div *ngIf="!loading && items.length === 0" class="empty-state">
    <p>No hay registros de asistencia</p>
  </div>

</ion-content>