<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs-gerencial/home">
      <!-- <ion-icon name="speedometer-outline"></ion-icon> -->
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="obras" href="/tabs-gerencial/obras">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Obras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maquinas" href="/tabs-gerencial/maquinas">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Maquinas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="empleados" href="/tabs-gerencial/empleados">
      
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Empleados</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="inventario" href="/tabs-gerencial/inventario">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <!-- Botón acción (no navegación) -->
    <!-- <ion-tab-button type="button" (click)="presentLogoutConfirm()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>
