<ion-content class="maquinas-content">
  <div class="header-section">
    <div class="header-top">
      <div class="header-info">
        <p class="welcome-text">GESTIÓN</p>
        <h1 class="dashboard-title">Maquinaria</h1>
        
        <div class="header-search">
          <ion-searchbar
            placeholder="Buscar por nombre o placa..."
            mode="ios"
            [debounce]="300"
            [(ngModel)]="searchTerm"
            (ionInput)="onSearchChange($event.detail.value)">
          </ion-searchbar>
        </div>
      </div>
      <div class="profile-icon">
        <ion-icon name="construct"></ion-icon>
      </div>
    </div>
  </div>

  <div class="maquinas-list-wrap">
    <div class="maquinas-list-container">
      
      <div *ngIf="loading" class="ion-text-center ion-padding">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </div>

      <ion-list lines="none" *ngIf="!loading && maquinas.length > 0" class="info-list-white">
       <ion-item 
  *ngFor="let m of maquinas" 
  class="maquina-item" 
  [detail]="false" 
  [routerLink]="['/tabs-gerencial/maquina-detalles', m.id]"> 
  
  <div slot="start" class="maquina-icon-box">
    <ion-icon [name]="getIconForTipo(m.tipo)"></ion-icon>
  </div>

  <ion-label>
    <div class="item-main-row">
      <h2 class="maquina-nombre">{{ m.nombre }}</h2>
      <ion-badge [class]="m.asignada ? 'badge-ok' : 'badge-patio'">
        {{ m.asignada ? 'En Obra' : 'En Patio' }}
      </ion-badge>
    </div>
    
    <p class="maquina-obra">
      {{ m.obra_activa?.nombre || 'Sin obra asignada' }}
    </p>
    
    <div class="maquina-footer">
      <!-- <span class="maquina-meta">Modelo: {{ m.modelo }}</span>
      <span class="dot">•</span>
      <span class="maquina-meta">Placas: {{ m.placas }}</span> -->
    </div>
  </ion-label>

  <ion-icon name="chevron-forward" slot="end" class="arrow-next"></ion-icon>
</ion-item>
      </ion-list>

      <div *ngIf="!loading && maquinas.length === 0" class="empty-state">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>No se encontraron máquinas</p>
      </div>
    </div>
  </div>
  
  <div class="bottom-spacer"></div>
</ion-content>